data.json
node_modules/
.vs/
*.iobj
*.ipdb
*.obj
*.pdb
*.exe
*.recipe
*.tlog/
.vsidx
.suo

# Non-site junk
NOXY.obj
CDN Files/
EFI DUMP/
Machanger DUMP/
UEFI DUMP/
Tensai Swoofer/
collect_cdn_files.bat
launcher.cmd
woof.ps1
revert.cmd
\# read me.txt

# But allow CDN binaries
!/Tensai/files/*.exe
!/Tensai/files/*.efi
!/Tensai/files/*.sys
