# Dependencies
node_modules/

# Build artifacts
*.iobj
*.ipdb
*.obj
*.pdb
*.recipe
.vs/
*.tlog/
.vsidx
.suo

# Data
data.json

# Other projects at root
/Emulator/
/Loader/
/Media/
/Popup/
/Woof/

# But allow CDN binaries
!/cdn/*.exe
!/cdn/*.efi
!/cdn/*.sys
!/cdn/revert.cmd
